// The Variables declared in this file are amongst others used in Bootstrap itself.
// For example $primary below is used to define .text-primary.color (used in navbar)
// in bootstrap/mixins/_text-emphasis.scss

// Color
$primary:  #1c2aeb; //
$highlight: lighten($primary, 0%);

// Links
$link-color: #3194c3;
$link-hover-color: $primary;
$link-hover-decoration: none;
$link-decoration: none;

// Tooltips
$tooltip-bg: #3194c3;
$tooltip-color: white;
$tooltip-opacity: 0.9;


// FROM https://github.com/janczizikow/sleek
// _sass/custom/includes/pages/_posts.scss
$border: #ededed !default;
$grey: #838c8d;
$heading-color: #313237;

// _sass/custom/includes/_card.scss
$bg-color: #fff !default;
